

:root {
    --primary-color:#98A6D4;
    --secondary-color:#C2F970;
    --accent1-color:#564D80;
    --accent2-color:#44344F;
    --accent3-color:#D3FCD5;
    --accent4-color: #F5A65B;
    --accent5-color: ;

    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Roboto', serif;
    --nav-background-color: var(--accent1-color);
    --nav-link-color:var(--accent3-color);
    --nav-hover-link-color: var(--accent4-color);
    --nav-hover-background-color: var(--accent1-color);
    --nav-visited-link-color: #000000;
}



*{
    padding: 0;
    margin:0;
}

body {
    font-family: var(--paragraph-font);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 150px 5fr 1fr ;


}

header {
    background-color: var(--primary-color);
    grid-column: 1 / 5;
    grid-row: 1 / 2;

}

h1 {
    font-family: var(--heading-font);
    text-align: left;
    margin: 20px 0px;
    padding: 5px 20px 50px 15px;
    font-size: larger;
    
}

nav {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 0px;

}

a {
    padding: 10px;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--heading-font);
}

a:hover {
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
    color: var(--nav-hover-link-color);
    font-weight: bolder;
}

nav:hover{
    background-color: var(--accent2-color);
}

main {
    justify-self: center;
    max-width: 1000px;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr; 
    text-align: left;
}

p {
    padding: 10px;
}

footer {
    color: var(--accent3-color);
    padding: 10px;
    background-color: var(--accent2-color);
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    text-align: center;
}


/* Class styles */

.card {
    margin: 10px;
    border: 1px solid darkgrey;
    border-radius: 21px;
    background-color: var(--accent3-color);
    box-shadow: 0px 1px 1px 1px  var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 8% 1fr;

}
.card h2{
    color: var(--accent2-color);
    padding: 0px;
    font-size: large;
    font-family: var(--heading-font);



}
.card div{
    text-align: center;
    grid-column: 1 / 4;
    padding: 5px;


    background-color: var(--accent4-color);
    border-radius: 20px 20px 0px 0px;
}


    

.footer p{
    background-color: var(--accent2-color);
}

.profile-img {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    max-height: 150px;
    border-radius: 20px;
    padding: 0px;
    margin-top: 20px;
    justify-self: center;


}

.card h3 {
    font-family: var(--heading-font);
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    text-align: center;
    padding:0px;

    text-decoration: underline solid var(--accent4-color) 3px;

}

.flag {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0px;
    text-align: center;
    align-self: center;

}

.flag img {
    border-radius: 20px;
    margin: 0px 10px;
}

.location-p {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    text-align: left;
    /* align-self: center; */
    margin-top: 30px;

    padding: 5px;
}

.about-p {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: left;
    margin: 30px 10px;
    padding: 5px;
}

.card ul {
    justify-self: center;
    align-self:center;
    grid-column: 1 / 4;
    grid-row: 2 / 5;

}

.card li {
    padding: 30px 5px;

}

li a {
    color: var(--accent2-color);
    text-decoration: underline solid var(--accent4-color) 3px;

}